<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Progetto_TIW_2023_RIA</display-name>
  <context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/db_progetto?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
		<filter-name>CheckLogin</filter-name>
		<filter-class>it.polimi.tiw.progetto2023.filters.CheckLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLogin</filter-name>
		<url-pattern>/LoadVisualized</url-pattern>
		<url-pattern>/LoadCart</url-pattern>
		<url-pattern>/ViewOrders</url-pattern>
		<url-pattern>/AddToCart</url-pattern>
		<url-pattern>/CreateOrder</url-pattern>
		<url-pattern>/SearchKeyword</url-pattern>
		<url-pattern>/SearchProduct</url-pattern>
		<url-pattern>/SearchOffers</url-pattern>
		<url-pattern>/Logout</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>